body{
    background-image: url(imagens/fundo.avif);
}
header{
    background-image: url(imagens/rosa\ textura.avif);
    margin: -9px -8px 0px -8px;
    background-size: cover;
    text-align: center;
    border: 1px;
    border-radius: 0px 0px 10px 10px;
    border-style: solid;
    border-color: black
}
.voltar{
    height: 28px;
    margin-right: 84%;
    margin-top: 17px;
}
.logo{
    width: 78%;
}
.caixa{
    display: grid;
    margin: 30px;
}
.texto{
    text-align: justify;
}
.rodape{
    background-image: url(imagens/rosa\ textura.avif);
    margin: 0px -8px -9px -8px;
    background-size: cover;
    text-align: center;
    border: 1px;
    border-radius: 10px 10px 0px 0px;
    border-style: solid;
    border-color: black
}
.formu{
    background-color: rgb(247, 153, 226);
    display: inline-grid;
    padding: 30px 60px;
    margin: 50px;
    border-width: 0.5px;
    border-style: solid;
    border-radius: 10px;
}
.formu label{
    margin: 10px;
    color: rgb(0, 0, 0);
}
.redes{
    margin: 73px;
}
.icones{
    height: 40px;
}
.icones:hover{
    height: 50px;
}
.mensagem{
    height: 100px;
    width: 190px;
}
.botaoenv:hover{
    border-style: solid;
    font-weight: bold;
    text-decoration: underline;
}
.textoarea{
    margin: 25px;
}
.texto{
    text-align: justify;
}
.texto1{
    text-align: center;
}